* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.container {
  /* height: 100vh; */
  padding: 0px 200px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
  gap: 15px;
  /* color: black; */
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0px;
  cursor: pointer;
}

nav ul a {
  color: black;
}

header main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: start;
  padding: 10% 0px;
  gap: 200px;
}

.header-desc {
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

main h1 {
  font-size: 44px;
  font-weight: 400px;
  line-height: 60px;
}

main p {
  font-size: 15px;
  height: 20px;
  font-weight: 200px;
}

.header-img {
  width: 50%;
  padding: 0px 30px;
}

header main img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.header-desc button {
  width: 30%;
  padding: 2%;
  background: #ff6464;
  color: white;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

/* Main */

.main-item {
  width: 100%;
  height: 20%;
  display: flex;
  padding: 40px 0px;
  gap: 50px;
  justify-content: center;
}

.view {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  padding: 10px;
  gap: 10px;
}

.main-desc {
  width: 50%;
  height: 35vh;
  background-color: #fff;
  padding: 30px 19px;
  border-radius: 5px;
  gap: 530px;
}

.date {
  gap: 20px;
  padding: 15px 0;
}

.view a {
  color: #00a8cc;
}

.view h3 {
  font-size: 20px;
  font-weight: 50px;
  color: lightslategray;
  /* line-height: 50px; */
}

/* section second */

.text {
  font-size: 25px;
  font-weight: 400;
  padding: 20px 0px;
}

.featured-item {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.featured-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: start;
  text-align: start;
  gap: 20px;
  padding: 20px 0px;
}

.featured-img img {
  width: 20%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px;
  gap: 50px;
}

.img-desc {
  width: 50%;
  gap: 20px;
  /* margin: 0px 20px;   */
}

.footer-item {
  width: 100%;
  height: 28vh;
  /* display: flex; */
  margin-top: 10px;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(238, 247, 255);
  box-shadow: 0px 0px 20px 10px lightgray;
}

footer span {
  display: flex;
  padding: 50px;
  gap: 30px;
  text-align: center;
  justify-content: center;
}

footer span i {
  font-size: 30px;
  cursor: pointer;
}

.featured-item span {
  width: 13%;
  border: 1px solid rgba(18, 18, 28, 0);
  border-radius: 16px;
  padding: 2px 2px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.featured-img span {
  background-color: #142850;
  color: white;
  padding: 7px 15px;
  font-size: 16px;
}

.year {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 40px;
}
